<launch>
  <arg name="gui" value="false"/>

  <include file="$(find multi_robot_scenario)/launch/empty_world.launch" />

  <include file="$(find multi_robot_scenario)/launch/pioneer3dx.gazebo.launch">
     <arg name="robot_name" value="r1" />
     <arg name="robot_position" value="-x 0.0 -y 0.0 -z 0.01 -R 0 -P 0 -Y +0.0" />
   </include>
</launch>
